/*All Fonts Library*/

@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNova-Bold.otf')  format('opentype'),
    url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf')  format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNova-Regular.otf')  format('opentype'),
    url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf')  format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GaramondPremrPro-Disp';
    src: url('../fonts/GaramondPremrPro-Disp.eot?#iefix') format('embedded-opentype'),  url('../fonts/GaramondPremrPro-Disp.otf')  format('opentype'),
    url('../fonts/GaramondPremrPro-Disp.woff') format('woff'), url('../fonts/GaramondPremrPro-Disp.ttf')  format('truetype'), url('../fonts/GaramondPremrPro-Disp.svg#GaramondPremrPro-Disp') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GaramondPremrPro';
    src: url('../fonts/GaramondPremrPro.eot?#iefix') format('embedded-opentype'),  url('../fonts/GaramondPremrPro.otf')  format('opentype'),
    url('../fonts/GaramondPremrPro.woff') format('woff'), url('../fonts/GaramondPremrPro.ttf')  format('truetype'), url('../fonts/GaramondPremrPro.svg#GaramondPremrPro') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaStd-ExtraBold';
    src: url('../fonts/FuturaStd-ExtraBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/FuturaStd-ExtraBold.otf')  format('opentype'),
    url('../fonts/FuturaStd-ExtraBold.woff') format('woff'), url('../fonts/FuturaStd-ExtraBold.ttf')  format('truetype'), url('../fonts/FuturaStd-ExtraBold.svg#FuturaStd-ExtraBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*End Fonts Library*/


a:hover, a:focus {
    text-decoration: none!important;
    color:inherit!important;
}

*{
    transition: all 0.4s ease;
}
/* =================================
           For Main Navigation
   ================================= */

   /*LOGO*/
.logo h2{
    font-family: "FuturaStd-ExtraBold", sans-serif;
}

.right_nav a{
    color:#ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.right_nav a:active{
    color: #5c5c5f;
}
.right_nav a:nth-of-type(3){
    font-weight: 600;
    margin-left:3em;
}
.right_nav a:nth-of-type(4){
    font-weight: 600;
}


/* =================================
       For Large Background Area
   ================================= */
    .large_bgarea{
        width: 100%;
        height: 90vh;
        background-color:#ffffff;
        background-size: cover;

    }

    .largeText{
        width: 50%;
        height: 75%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .largeText p{
        color:#19191a;
        font-size: 4em;
        line-height: 1.1;
        font-family: 'GaramondPremrPro-Disp', sans-serif;

    }

    /* =================================
        For Arbitrary View
       ================================= */
.fonts_area{
    margin-top: -350px;
    overflow: hidden;
    background: #efefef;
}

.expand_layout{
    background: #f7f7f7;
    padding: 20px;
    box-shadow: 0 0 2px #ddd;
}
.expand_layout img{
    margin-bottom: 30px;
}

/* =================================
         For All Fonts Area
   ================================= */

/*change Style*/
.loader-wrapper,
.news-paginator {
    position: relative;
}
.side-entries .more-entries-pagination-link {
    margin-top: -1px;
}
.more-entries-pagination-link {
    position: relative;
    display: block;
    margin: 0 auto;
    font-size: 22px;
    line-height: 1.2;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.025em;
    color: #49494a;
    text-align: center;
}

.more-entries-pagination-link:active,
.more-entries-pagination-link:focus,
.more-entries-pagination-link:hover {
    color: #171717;
    text-decoration: none;
}

.more-entries-pagination-link > span {
    position: relative;
    display: block;
    padding: 68px 40px;
}
.more-entries-pagination-link > span > .count {
    font-weight: 400;
    color: #49494a;
}

.more-entries-pagination-link:active::before,
.more-entries-pagination-link:focus::before,
.more-entries-pagination-link:hover::before {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.more-entries-pagination-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition-delay: 0s;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}

.more-entries-pagination-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #dddddd;
    transition-delay: 0s;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}
.more-entries-pagination-link::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #c0c0c0;
    transition-delay: 0s;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.more-entries-pagination-link:active,
.more-entries-pagination-link:focus,
.more-entries-pagination-link:hover {
    color: #171717;
    text-decoration: none;
}


/* =================================
           For Main Footer
   ================================= */
#footerFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#footerFlex .item:nth-of-type(2){
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#footerFlex .item:nth-of-type(1){
    flex-grow:1;
}
#footerFlex .item:nth-of-type(3){
}
.footer_area{
    background: #171717;
    color:#ffffff;
    padding-top: 65px;
    padding-bottom: 110px;
}
.row_one{
    margin-bottom: 60px;
}
.item_wraper {
    position: relative;
    display: flex;
}

.item_wraper .name_wraper {
    background: #171717;
    z-index: 10;
    padding: 0 4px 0 0;
}

.name_wraper h2 {
    font-size: 16px;
    background: #171717;
    color: #e8e8e8;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    padding-right: 5px;
    font-family: "Open Sans", sans-serif;
    padding-bottom: 10px;
}

.line {
    border-bottom: 2px solid #ffffff;
    width: 100%;
    height: 1px;
    display: block;
    position: absolute;
    right: 0;
    top: 28%;
}

.footer_items a{
    display: inline-block;
    color: #aaaaaa;
    font-size:12px;
    line-height: 1.2;
    border-right: 2px solid #9e9e9e;
    padding-right: 10px;
}

.footer_items a:nth-last-of-type(1){
    padding-left: 5px;
    border: none;

}

/*Back to Top*/
.back_to_top{
    transform: rotate(-90deg);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    min-width: 130px;
}
.back_to_top span img{
    width:auto;
    height: 80px;
    transform: rotate(90deg);
    align-self: self-end;

}

.back_to_top span:nth-of-type(1){
    color: #ffffff;
    font-family: "ProximaNova-Bold", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-right: 50px;
}

.back_to_top a:hover{
    text-decoration: none;
    outline: none;
}


/* ==============================
    For Newsletter Subscription
   ============================== */

.newsLetter_subscription h2 {
    float: right;
    text-align: right;
    color: #cccccc;
    font-family: 'GaramondPremrPro', sans-serif;
    text-transform: capitalize;
    font-size: 32px;
    line-height: 1.2em;
    position: relative;
}

.newsLetter_subscription h2 > span {
    position: absolute;
    right: 0;
}

.newsLetter_subscription h2::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 50px;
    padding-top: 15px;
    border-bottom: 3px solid #b6200c;
    position: absolute;
    right: 0;
}

#newsletterForm{
    margin-top: 30px;
}

#newsletterForm label {
    color: #ffffff;
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;
    font-family: "ProximaNova-Regular", sans-serif;
    position: relative;
    top: 15px;
    display:inline-block;
    width: 25%;
    float: left;
    margin: 0;
    padding: 0;
}

#newsletterForm input[type=text] {
    border:none;
    border-bottom: 1px solid #555555;
    margin: 0;
    padding: 6px;
    color: #cccccc;
    font-size: 16px;
    width: 75%;
    font-style: normal;
    background: transparent;
    border-radius: 0;
    left: 10px;
    float:right;

}


#newsletterForm input[type=text]:focus{
    outline: none;
}

#newsletterForm input[type="submit"] {
    width: 230px;
    float: right;
    height: 40px;
    color:#ffffff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: #555555;
    font-family: 'Open Sans',sans-serif;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 15px;
}

#newsletterForm input[type="submit"]:focus{
    outline: none;
}


/*Responsive Media Query*/

@media (max-width: 767.98px) {

    #footerFlex{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #footerFlex .item:nth-of-type(2){
        flex-grow:1;
        order: -1;
    }
    #footerFlex .item:nth-of-type(1){
        flex-grow:1;
    }
    #footerFlex .item:nth-of-type(3){
        flex-grow:1;
    }

    .footer_right,.footer_left{
        padding-top: 30px;
    }

    #newsletterForm label {
        font-size: 13px;
    }


    .fonts_area{
        margin-top: -100px;
        overflow: hidden;
    }
    .largeText p {
        font-size: 2em;
        font-weight: 400;
    }

}




