/*All Fonts Library*/
@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNova-Bold.otf')  format('opentype'),
    url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf')  format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNova-Regular.otf')  format('opentype'),
    url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf')  format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GaramondPremrPro-Disp';
    src: url('../fonts/GaramondPremrPro-Disp.eot?#iefix') format('embedded-opentype'),  url('../fonts/GaramondPremrPro-Disp.otf')  format('opentype'),
    url('../fonts/GaramondPremrPro-Disp.woff') format('woff'), url('../fonts/GaramondPremrPro-Disp.ttf')  format('truetype'), url('../fonts/GaramondPremrPro-Disp.svg#GaramondPremrPro-Disp') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GaramondPremrPro';
    src: url('../fonts/GaramondPremrPro.eot?#iefix') format('embedded-opentype'),  url('../fonts/GaramondPremrPro.otf')  format('opentype'),
    url('../fonts/GaramondPremrPro.woff') format('woff'), url('../fonts/GaramondPremrPro.ttf')  format('truetype'), url('../fonts/GaramondPremrPro.svg#GaramondPremrPro') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaStd-ExtraBold';
    src: url('../fonts/FuturaStd-ExtraBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/FuturaStd-ExtraBold.otf')  format('opentype'),
    url('../fonts/FuturaStd-ExtraBold.woff') format('woff'), url('../fonts/FuturaStd-ExtraBold.ttf')  format('truetype'), url('../fonts/FuturaStd-ExtraBold.svg#FuturaStd-ExtraBold') format('svg');
    font-weight: normal;
    font-style: normal;
}







/*End Fonts Library*/

a, a:hover{
    text-decoration: none;
}

*{
    transition: all 1s ease;
}
/* =================================
           For Main Navigation
   ================================= */

   /*LOGO*/
.logo h2{
    font-family: "FuturaStd-ExtraBold", sans-serif;
}

.right_nav a{
    color:#ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.right_nav a:nth-of-type(3){
    font-weight: 600;
    margin-left:3em;
}
.right_nav a:nth-of-type(4){
    font-weight: 600;
}




/* =================================
       For Large Background Area
   ================================= */
    .large_bgarea{
        width: 100%;
        height: 90vh;
        background-color:#ffffff;
        background-size: cover;

    }

    .largeText{
        width: 50%;
        height: 75%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .largeText p{
        color:#19191a;
        font-size: 4em;
        line-height: 1.1;
        font-family: 'GaramondPremrPro-Disp', sans-serif;

    }

    /* =================================
        For Arbitrary View
       ================================= */
.fonts_area{
    margin-top: -350px;
    overflow: hidden;
    background: #efefef;
}

.expand_layout{
    background: #f7f7f7;
    padding: 20px;
    box-shadow: 0 0 2px #ddd;
}
.expand_layout img{
    margin-bottom: 30px;
}

/* =================================
         For All Fonts Area
   ================================= */

/*.allFonts{*/
    /*border-top:1px solid #757575;*/
    /*display: flex;*/
    /*width: 100%;*/
    /*height:50px;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*text-align: center;*/
/*}*/
/*.allFonts a{*/
    /*text-decoration: none;*/
    /*color:#757575;*/
    /*text-transform: capitalize;*/
    /*font-size: 1.5em;*/
/*}*/

/*.allFonts a:hover{*/
    /*text-decoration: none;*/
    /*color:#757575;*/
/*}*/


/*change Style*/
.loader-wrapper,
.news-paginator {
    position: relative;
}
.side-entries .more-entries-pagination-link {
    margin-top: -1px;
}
.more-entries-pagination-link {
    position: relative;
    display: block;
    margin: 0 auto;
    font-size: 22px;
    line-height: 1.2;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.025em;
    color: #49494a;
    text-align: center;
}

.more-entries-pagination-link:active,
.more-entries-pagination-link:focus,
.more-entries-pagination-link:hover {
    color: #171717;
    text-decoration: none;
}

.more-entries-pagination-link > span {
    position: relative;
    display: block;
    padding: 68px 40px;
}
.more-entries-pagination-link > span > .count {
    font-weight: 400;
    color: #49494a;
}

.more-entries-pagination-link:active::before,
.more-entries-pagination-link:focus::before,
.more-entries-pagination-link:hover::before {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.more-entries-pagination-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition-delay: 0s;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}

.more-entries-pagination-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #dddddd;
    transition-delay: 0s;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}
.more-entries-pagination-link::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #c0c0c0;
    transition-delay: 0s;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.more-entries-pagination-link:active,
.more-entries-pagination-link:focus,
.more-entries-pagination-link:hover {
    color: #171717;
    text-decoration: none;
}


/* =================================
           For Main Footer
   ================================= */
.footer_area{
    background: #171717;
    color:#ffffff;
    padding-top: 80px;
    padding-bottom: 120px;
}

.bf_newsletter{
    padding-bottom: 120px;
}
.bf_newslettertext p:nth-of-type(1){
    font-weight: 400;
    font-family: "PT Sans",sans-serif;
    font-style: normal;
    font-size: 22px;
    color:#b4b4b4;
}

.bf_newslettertext p:nth-of-type(2){
    font-size: 22px;
    line-height: 1.2;
    color:#b4b4b4;
}

.newsletter_form form input[type=email]{
    background: #171717;
    border:none;
    width:100%;
    color:#fafafa;
    font-size: 20px;
    line-height: 1.8em;
    padding-bottom: 20px;
    border-bottom: 1px solid #3e3e3e;
    text-align: center;
}

.newsletter_form form input[type=email]:focus{
    outline: none;
}

.newsletter_form ::-webkit-input-placeholder {
    text-align: center;
}

.newsletter_form :-moz-placeholder { /* Firefox 18- */
    text-align: center;
}

.newsletter_form::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;
}

.newsletter_form :-ms-input-placeholder {
    text-align: center;
}

/*Change Style*/
.newsletter_form fieldset {
    border: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

.newsletter-submit {
    background: transparent;
    position: absolute;
    top: 3px;
    right: 3px;
    height: calc(100% - 6px);
    border: 0;
    font-size: 1.5em;
    line-height: .5;
}
.newsletter-submit span {
    background: transparent;
    cursor: pointer;
}

.newsletter_form button[type=submit]:focus{
    outline: none;
}



.footerMid{
    border-top: 1px solid #3e3e3e;
    padding-top:60px;
    padding-bottom: 60px;
    border-bottom: 1px solid #3e3e3e;
}

.phoneNumber ul{
    margin: 0;
    padding: 0;
    display: block;
}
.newsArea ul{
    margin: 0;
    padding: 0;
}
.help ul{
    margin: 0;
    padding: 0;
}
.phoneNumber li{
    list-style: none;
    display: inline-block;
}
.phoneNumber a{
    color: #ffffff;
}
.bf_social{
    display: inline-block;
    margin-top: 10px;
}
.bf_social a{
    margin-right: 5px;
    font-size: 18px;
    display: inline-block;
    width: 36px;
    height:36px;
    color:#171717;
    background: #ffffff;
    border-radius: 50%;
    text-align: center;
    padding-top: 6px;
}
.newsArea li{
    list-style:none;
    display: block;
}
.newsArea a{
    color:#ffffff;
}
.newsArea a:hover{
    color:inherit;
    text-decoration: none;
}

.help li{
    list-style: none;
    display: block;
}
.help a{
    color: #ffffff;
    text-decoration: none;
}

/*For Bottom Footer*/
.bottom_footer{
    padding-top: 20px;
}
.copyrightText small{
    color:#2a2a2a;
}

.copyrightCenter small{
    color:#2a2a2a;
}
.back_to_top a{
    color: #b4b4b4;
}
.back_to_top a:hover{
    color: #b4b4b4;
    text-decoration: none;
}


@media (max-width: 767.98px) {

    .fonts_area{
        margin-top: -100px;
        overflow: hidden;
    }
    .largeText p {
        font-size: 2em;
        font-weight: 400;
    }
}




